/* ---- FONTS ---- */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&display=swap');



:root {
    --black: #2E323D;
    --aqua: #00FFFF;
    --yellow: #FAE45C;
}

body {
    background-color: var(--black);
}

.title{
    color: var(--aqua);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Bungee Outline', cursive;
    text-transform: uppercase;
}

.title h1 {
    font-size: 80px;
    
}

.title h1 span {
    color: var(--yellow);
}

.btn {
    background: var(--aqua);
    padding-left: 160px;
    margin-top: 30px;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

.btn a {
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    background: var(--yellow);
    transition: 1s;
}


