/* ---- FONTS ---- */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --black: #2E323D;
    --aqua: #00FFFF;
    --yellow: #FAE45C;
    --grey: #B7B7B7;
    --darkGrey: #3F3F3F;

}

body {
    background-color: var(--black);
}

.title {
    color: var(--aqua);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bungee Outline', cursive;
    padding-bottom: 10px;
}

.title h1 span {
    color: var(--yellow);
}

.game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.perfil {
    display: flex;
    align-items: flex-end;
}

.perfil h2 {
    margin-left: 12px;
}

.player {
    background-color: var(--darkGrey);
    margin-right: 60px;
    padding: 90px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--aqua);
}

.photoPlayer {
    background: #575757;
    border-style: solid;
    border-width: 3px;
    border-color: var(--aqua);
    border-radius: 40px;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    background-image: url('../img/photo-player.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.machine {
    background-color: var(--darkGrey);
    margin-left: 60px;
    padding: 90px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--yellow);
}

.photoMachine {
    background: #575757;
    border-style: solid;
    border-width: 3px;
    border-color: var(--yellow);
    border-radius: 40px;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    background-image: url('../img/photo-machine.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.name {
    color: var(--grey);
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    font-size: 25px;
}

.points {
    color: var(--yellow);
    font-family: 'Krona One', sans-serif;
    font-size: 12px; 
    margin-left: 84px;
}

.sequence {
    color: var(--aqua);
    font-family: 'Krona One', sans-serif;
    font-size: 12px;
    margin-left: 84px;
    margin-bottom: 75px;

}

.picked {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    margin-top: 70px;
}

.vs {
    color: var(--yellow);
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

#pickedPlayer {
    color: var(--aqua);
    font-size: 40px;
    
}

#pickedMachine {
    color: var(--yellow);
    font-size: 40px;
    
}

.won {
    color: #A560E0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    font-size: 19px;
    margin-top: 20px;
}



